#head
    .content
        #logo.logo
            img(src="/images/logo.png")
            span Link Cache

        #log-in
            form( method="post")
                div
                    span
                        span.label Email :
                        input(type="text", name="title", id="editEmployeeTitle")
                    span
                        span.label Password :
                        input(type="text", name="name", id="editEmployeeName")
                    span#editEmployeeSubmit
                        input(type="submit", value="Save")